#loginBox, #signupform {
    box-shadow: -2px 2px 29px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 29px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 29px 1px rgba(0,0,0,0.75);
}

body {
    /*background-color: whitesmoke;*/
}
